.homeButton {
    padding: 30px;
    font-size: 23px;
    vertical-align: middle;
    margin: 25px auto;
    display: block;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h1 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #2196f3;
}
.bs-callout-primary h2 {
    color: #2196f3;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h1 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h1 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h1 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h1 {
    color: #5bc0de;
}

.tinyInput {
    width: 150px;
    height: 30px;
    margin: 5px;
}

.tinyGroup {
    display: inline-block;
}

.smallSubmit {
    padding: 8px 30px;
    margin: 0;
    display: block;
}

.marketTable {
    font-size: 16px;
}